@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
}

.gradient-class {
    background: linear-gradient(45deg, #00ff72,
    #00e292,
    #00c4a3,
    #00a4a5,
    #008498,
    #00657d,
    #2a4858
    );
    background-size: 175%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation: bg-gradient 5s infinite alternate;
  }


  .gradient-class-profile {
    background: linear-gradient(45deg, #ac1b2f, #6078ea);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: 200%;
    justify-content: flex-start; /* Align children to the top */
    align-items: center;
    animation: bg-gradient 5s infinite alternate;
}


@keyframes bg-gradient {
    0% {
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
  

.title-text {
    color: white;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-text #name-profile {
    margin-top: 28px; 
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.title-text #title-home {
    margin-top: 88px; 
    font-family: 'Poppins', sans-serif;
}


.white-section {
    background-color: rgb(253, 253, 253);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 20px;
    margin-top: 125px;
    margin-left: 25%;
    margin-right: 25%;
}


.button-container {
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.button-container-collapse {
    display: flex;
    justify-content: center;
    flex:1;
    align-items: center;
    margin-left: 45%;
}

/* profile styling */
.circle-image {
    width: 250px; 
    height: 250px;
    overflow: hidden;
    border-radius: 50%; 
    display: flex;
    background : rgba(239, 237, 237, 0.4);
    margin-top: 30px;
    animation: scaleAnimation 1s infinite alternate;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.04);
    }
}
  
.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: flex;
}

.white-half-section {
    background-color: rgb(262, 246, 246);
    display: flex;
    width: auto;
    border-radius: 15px;
    height: auto;
    margin-top: 15px;
    margin-left: 21%;
    margin-right: 21%;
    padding-bottom: 28px;
    flex-direction: column;
    justify-content: flex-start;
}

.white-half-section .description{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 35px;
}

.description .generaldesc{
    font-family: 'Lora', sans-serif;
    text-align: justify;
}

  

.socials-container {
    display: flex;
    height: 64px;
}

.social-icons{
    transition: transform 0.2s;
}

.social-icons:hover{
    transform: scale(1.20);
}

ion-icon{
    color: white;
    font-size: 64px;
    margin: 8px;
}

.godown {
    --font-color: #323232;
    --bg-color: #fff;
    --main-color: #323232;
    font-family: 'Poppins', sans-serif;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    margin-top: 20px;
  }
  
  .godown:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }

  .collapse {
    display: none;
    margin-left: 50%;
    margin-right: 50%;
  }

  .works-container{
    display: none; /*change this to flex when btn click is triggered*/
    flex-direction: column;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }


.works-container .works-title {
    margin-top: 88px; 
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-left: 10%;
}

.works-container #cert{
    margin-top: 88px; 
    font-family: 'Poppins', sans-serif;
    text-align: right;
    margin-left: 10%;
}


.works-list{
    font-family: 'Lora', sans-serif;
    flex: 1;
    margin-left: 15%;
    margin-top: 10px;
}


.cert-list{
    font-family: 'Lora', sans-serif;
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-top: 10px;
    margin-left: 34%;
}

a.certitem{
    color: black;
    margin: 0 10px;
}


.img-container {
    display: flex;
    align-items: center;
    max-width: auto; 
    max-height: 200px; 
    overflow: hidden; 
    margin-top: 38px;
    margin-left: 10%;
}

.img-container img {
    /* Set the image to fit within the container */
    max-width: 50%;
    max-height: 50%;
    margin-left: -5px;
    margin-right: 20px;
    height: auto;
}

.img-container p {
    text-align: justify;
    margin-right: 10%;
}

.img-container-cert .imgelem{
    max-width: 50%;
    max-height: 50%;
}


